/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* VARIABLES */
/* Color Palette
   ========================================================================== */
/* MAIN NAVIGATION
   ========================================================================== */
/* line 22, ../sass/screen.scss */
.main-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  z-index: 70;
  width: 100%;
  background-color: white;
}

/* line 33, ../sass/screen.scss */
.main-menu__item {
  width: 25%;
  display: table;
  height: 100%;
  float: left;
}

/* line 40, ../sass/screen.scss */
.main-menu__link {
  text-shadow: 2px 2px 1px #1a1a1a;
  text-shadow: 2px 2px 1px 1px #1a1a1a;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1em;
}

/* line 56, ../sass/screen.scss */
.menu-link--isRed {
  background-color: #f13844;
}

/* line 60, ../sass/screen.scss */
.menu-link--isNavy {
  background-color: #2d4059;
}

/* line 64, ../sass/screen.scss */
.menu-link--isGold {
  background-color: #ffd166;
}

/* line 68, ../sass/screen.scss */
.menu-link--isGreen {
  background-color: #1b998b;
}

/* ==========================================================================
   PAGE STYLES
   ========================================================================== */
