/* Color Palette
   ========================================================================== */

$not-red: #f13844; //rgba(241, 56, 68, 100)
$navy: #2d4059; //rgba(45, 64, 89, 100)
$gold: #ffd166; //rgba(255, 209, 102, 100)
$offwhite: #f8faed; //rgba(248, 250, 237, 100)
$coolgreen: #1b998b; //rgba(27, 153, 139, 100)


/* Icon Variables
   ========================================================================== */

/* Mobile */
$iconWidth: 48px;
$iconHeight: 48px;