/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "susy";

$susy: (
    columns: 12,
    math: fluid,
);

/* MAIN NAVIGATION
   ========================================================================== */

.main-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    z-index: 70;
    width: 100%;
    background-color: white;

}

.main-menu__item {
    width: span(3);
    display: table;
    height: 100%;
    float: left;
}

.main-menu__link {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

.menu-link--isRed {
    background-color: #f13844;
}

/* ==========================================================================
   PAGE STYLES
   ========================================================================== */

.start-page {

}