/* IMPORTS
   ========================================================================== */

@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "susy";


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Font smoothing only available on MAC OS */

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

